.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* #abd{
  
} */

body{
  width: 100%;
}

#card{
  border-radius: 15px;
  margin-left: 30%;
  box-shadow: rgb(9, 10, 10) 0px 3px 3px;
  margin-bottom: 5%;
  
}
#dd{
  border-radius: 15px;
  border: black solid 2px;
}
#bb{padding: 20px;
  text-align: center;
  margin-left: 40%;
  width: 21%;
}
#bb h2{
  margin: 5px;
}
#main{
  border-radius: 10px;
  border-radius: 10px;
  /* display: inline-block; */
  flex: auto;
  box-shadow: rgb(27, 28, 29) 0px 3px 5px;
  margin-left: 2.5%;
  


}